<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Partners page of Landzy your AI assistant of real estate">
    <meta name="author" content="Helamã Verardo Petri Corrêa">
    <title>Dashboard Parceiros</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles/partners.css">
  </head>
  <body>
    <header>
        <img class="logo" src="/static/images/landzy-logo.svg" alt="landzy logo" height="30">
        <nav class="navigation">
            <div>
                <a href="/static/home.html">Home</a>
                <a href="/static/chat.html">Chat</a>
                <a href="/static/partners.html">Partners</a>
                <a class="start-now" href="/static/chat.html">Start Now</a>
            </div>
        </nav>
            <button type="button" id="menu"></button>
    </header>
    <main>
        <section>
        <h2>Statistics</h2>
            <ul>
                <li><strong>Properties Listed:</strong><span id="totalProperties"></span></li>
                <li><strong>Recommendations to Clients:</strong><span id="totalRecommendations"></span></li>
                <li><strong>Scheduled Visits:</strong><span id="totalVisits"></span></li>
            </ul>
        </section>

        <section>
            <h2>Quick Actions</h2>
            <button type="button" id="addProperty" onclick="window.location.href='/partner/property/add'">Add New Property</button>
            <button type="button" id="viewProperties" onclick="window.location.href='/partner/properties'">View All Properties</button>
        </section>
    </main>
    <footer>
        <div>
        <p>
            &copy; <span id="current-year"></span> Helamã Verardo Petri Corrêa, SC/Brazil
        </p>
        <p id="last-modified"></p>
        </div>
    </footer>  
  <script src="/static/scripts/hambMenu.js" defer></script>
  <script src="/static/scripts/getdates.js" defer></script>
  </body>
</html>
